<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Set your device font size to maximum, then pick a date</strong>

    <ion-datetime-button datetime="datePicker"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datePicker" presentation="month-year">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-datetime-button datetime="timePicker"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="timePicker" presentation="time">
        </ion-datetime>
      </ng-template>
    </ion-modal>

  </div>
</ion-content>
